html,
body {
  height: 100%;
  margin: 0;
}

#root, /* React root element */
.site-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-wrap {
  flex: 1; /* Makes this container flexible to push the footer down */
  /* Adjust padding as needed, but ensure it doesn't push the footer off the viewport */
}

body, .main-content {
    padding-bottom: 60px; /* Adjust based on the footer height */
  }

  .footer-fixed-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1030; /* Ensure it's above most other elements */
}



footer.bg-success {
    background-color: #28a745; /* Customize to match your navbar if necessary */
  }

  footer .text-white {
    color: #fff; /* Ensures text is white */
  }

  footer a.text-white {
    text-decoration: none; /* Removes underline from links */
  }

  footer a.text-white:hover,
  footer a.text-white:focus {
    color: #ccd; /* Lightens the link color on hover/focus */
    text-decoration: none; /* Keeps text decoration removed on hover/focus */
  }

  /* You might want to add media queries for responsiveness if needed */
  @media (max-width: 768px) {
    footer .text-md-start,
    footer .text-md-end {
      text-align: center;
    }
  }

  /* Adjust padding and margins as needed */
  footer .py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  footer .my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
