.carousel-inner {
    height: 800px;
    display: flex;
    align-items: center;
  }


.carousel-item img {
    display: block; /* Ensures the image is block-level */
    margin: auto; /* Center the image horizontally */
    height: 100%; /* Fill the container height */
    width: 100%; /* Fill the container width */
    object-fit: cover;
    object-position: center;
    border-radius: 10px /* Adjust if needed */
  }
  .custom-col {
    flex: 0 0 20%; /* 20% of the container's width */
    max-width: 20%;
  }

  @media (max-width: 576px) {
    .custom-col {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (max-width: 768px) {
    .custom-col {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }
  .info-cards-container {
    padding-top: 20px;
  }
/* Smokey Grey Background for the Whole Page */
.main-page {
    min-height: 100vh; /* Ensure it covers the whole viewport height */
    padding: 20px; /* Adjust based on your layout needs */
  }

  /* Glass Effect Styles */
  .glass-effect {
    backdrop-filter: blur(20%);
    border-radius: 15px; /* Rounded corners for the glass effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18); /* Slight border for depth */
  }

  /* Apply the Glass Effect to Specific Components */
  .carousel, .card, .schedule-service {
    background: rgba(255, 255, 255, 0.31);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(255, 255, 255, 0.31);
  }


  body {
    background: -webkit-linear-gradient(to right, #2C5364,);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364,); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body {
    background-image: linear-gradient(to right, #2C5364 0%, #203A43 30%, orange 30%, orange 40%, #203A43 40%, #0F2027 80%);
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(to right, #2C5364 0%, #203A43 30%, orange 30%, orange 40%, #203A43 40%,  #0F2027 80%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    color: white;
  }
  body::before, body::after {
    content: "";
    position: absolute;
    background-color: orange; /* Color of the line */
  }

  /* Horizontal line */
  body::before {
    top: 75%; /* Adjust for specific placement */
    left: 0;
    right: 0;
    height: 5px;
    bottom: 10px /* Thickness of the line */
  }
