.navbar.glass-effect {
    background-color: rgba(0, 123, 255, 0.5); /* Example for a blue color */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
